.button {
  padding: 15px 10px;
  width: 150px;
  background-color: #ffdc3b;
  color: #000000;
  border-radius: 5px;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.button:hover {
  scale: 1.1;
}
