.square {
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 60%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

@media (min-width: 872px) {
  .square {
    width: 150px;
    height: 150px;
  }
}
