.popupbackgroud {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.214);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  padding: 20px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
}
